# Ignore the db_config.yaml file in the config directory
/config/db_config.yaml
/Data Research Analyst - Home Assignment.pdf
/Dashboard Data/Dashboard_img.png

# Ignore compiled Python files within src/__pycache__/
src/__pycache__/*.pyc
src/__pycache__/*.pyo